<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.physical.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--<uses-permission android:name="android.permission.MASTER_CLEAR"/>-->
    <!--<uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>-->
    <!--开机自启动-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />//开机自动启动需要
                <category android:name="android.intent.category.HOME" />//开机自动启动需要
            </intent-filter>
        </activity>

        <!--wifi-->
        <activity
            android:name=".setting.WifiActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--首页-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--登录-->
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--注册-->
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--本地音乐-->
        <activity
            android:name=".music.LocalMucicActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--会员信息管理-->
        <activity
            android:name=".member.MemberManageActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--系统设置-->
        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--理疗-->
        <activity
            android:name=".physical.PhysicalActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--理疗详情-->
        <activity
            android:name=".physical.PhysicalDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--新增会员信息-->
        <activity
            android:name=".member.AddMemberActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--会员详情-->
        <activity
            android:name=".member.MemberDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />


        <!--选中幼苗-->
        <activity
            android:name=".physical.SelectSeedlingActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

    </application>

</manifest>